

.EditVocabCard {
  padding: 10px  20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
  background-color: white;
  text-align: left;
  width: 400px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;

  input {
    margin-bottom: 5px;
    &::-webkit-input-placeholder {
      color: #e1e1e1;
    }
  }
}


.EditVocabCard__reading {
  color: #b9b9b9;
  font-size: 20px;
}

.EditVocabCard__word {
  color: #1BBC9B;
  font-size: 30px;
  grid-column-end: span 2;
  cursor: pointer;
}

.EditVocabCard__wordMeaning {
  color: #ababab;
  font-size: 22px;
  grid-column-end: span 2;
}

.EditVocabCard__sentence {
  margin-top: 10px;
  color: #1BBC9B;
  font-size: 16px;
  grid-column-end: span 2;
  cursor: pointer;
}
.EditVocabCard__sentenceMeaning {
  color: #ababab;
  font-size: 16px;
  grid-column-end: span 2;
}

.EditVocabCard__btns {
  display: flex;
  justify-self: end;
}

.EditVocabCard__editBtns {
  justify-self: end;
  grid-column-end: span 2;
}


.EditVocabCard__btn {
  border-radius:2px;
  padding: 2px 10px;
  font-size: 15px;
  border: 1px solid #1BBC9B;
  color: #1BBC9B;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  justify-self: end;
  margin-left: 10px;
  height: 21px;
  user-select: none;

  &--save {
    justify-self: end;
    grid-column-end: span 2;
  }

  &--delete {
    border: 1px solid #E64C66;
    color: #E64C66;
  }

  &--cancel {
    border: 1px solid #AEAEAE;
    color: #AEAEAE;
  }

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.9;
  }
}
