
.ReviewTab {
  background-color: #fafafa;
  width: 100vw;
  height: 100vh;
  color: #1bbc9b;
  font-family: "PingFang SC", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 50px;
  justify-content: center;

  @media (prefers-color-scheme: dark) {
    background-color: #41403e;
  }
}



.ReviewTab__word {
  font-size: 140px;
  color: #1bbc9b;
  cursor: pointer;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.1);
}

.ReviewTab__reading {
  font-size: 40px;
  color: #b9b9b9;
}

.ReviewTab__meaning {
  font-size: 60px;
  color: #ababab;
  margin-bottom: 80px;
  text-align: center;

  &--long {
    font-size: 40px;
  }
}

.ReviewTab__sentenceWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ReviewTab__sentence {
  font-size: 20px;
  color: #1bbc9b;
  cursor: pointer;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.ReviewTab__sentencePinyin {
  font-size: 20px;
  color: #b9b9b9;
  margin-bottom: 15px;
}