

.AddWords {
  background-color: #efefef;
  width: 100vw;
  height: 100vh;
  color: #1BBC9B;
  font-family: "PingFang SC", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 50px;
  justify-content: flex-start;
}

.AddWords__title {
  font-size: 80px;
  color: #1BBC9B;
  cursor: pointer;
}