/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}


.NewTabPage__buttons {
  position: fixed;
  bottom: 15px;
  right: 20px;
  display: flex;
}

.NewTabPage__button {
  border-radius:2px;
  font-size: 15px;
  border: 1px solid #1BBC9B;
  color: #1BBC9B;
  opacity: 0.4;
  transition: 50ms ease-in opacity;
  cursor: pointer;
  text-decoration: none;
  padding: 2px 10px;
  margin-left: 10px;

  &:hover {
    opacity: 1;
  }
}


.NewTabPage__backBtn {
  position: fixed;
  top: 40px;
  left: 40px;

  border-radius:2px;
  padding: 0 20px;
  font-size: 25px;
  border: 1px solid #1BBC9B;
  color: #1BBC9B;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

.NewTabPage__iconsLink {
  position: fixed;
  bottom: 15px;
  left: 20px;
  color: #ababab;
}

.NewTabPage__layout {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-areas: "sidebar header" "sidebar content";
  grid-template-rows:  140px auto;
  grid-template-columns: 300px  auto;
}

.NewTabPage__sidebar {
  grid-area: sidebar;
}

.NewTabPage__header {
  grid-area: header;
}

.NewTabPage__content {
  grid-area: content;

}