
.PreviewDeck {
  font-family: "PingFang SC", serif;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 40px;
  justify-content: start;
}


.PreviewDeck__btns {
  width: 457px;
  display: flex;
  justify-content: space-between;
}

.PreviewDeck__btn {
  border-radius:2px;
  padding: 2px 10px;
  font-size: 15px;

  cursor: pointer;
  text-align: center;
  display: inline-block;
  justify-self: end;
  margin-right: 10px;

  &--add {
    border: 1px solid #1BBC9B;
    color: #1BBC9B;
    &:hover {
      opacity: 0.8;
    }
  }

  &--back {
    border: 1px solid #ababab;
    color: #ababab;

    &:hover {
      border: 1px solid #808080;
      color: #808080;
    }
  }
}

.PreviewDeck__words {
  margin-left: -8px;
}

.PreviewDeck__loading {
  color: #1bbc9b;
  font-size: 20px;
  margin-top: 20px;
}