.ManageWords {
  font-family: "PingFang SC", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  justify-content: start;
}

.ManageWords__title {
  font-size: 40px;
  color: #1BBC9B;
  margin-bottom: 10px;
}

.ManageWords__wordCard {
  padding: 10px  20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px;
  background-color: white;
  text-align: left;
  width: 400px;
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.ManageWords__deleteBtn {
  border-radius:2px;
  padding: 2px 10px;
  font-size: 15px;
  border: 1px solid #E64C66;
  color: #E64C66;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  width: 43px;
  justify-self: end;
}

.ManageWords__wordPinyin {
  color: #b9b9b9;
  font-size: 20px;
}

.ManageWords__word {
  color: #1BBC9B;
  font-size: 30px;
  grid-column-end: span 2;
}

.ManageWords__wordMeaning {
  color: #ababab;
  font-size: 22px;
  grid-column-end: span 2;
}